
<section id="pattern-background-3" class="tint-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background03.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-9 inner center-block text-center animated fadeInUp" style="opacity: 0;">
        <header>
          <h1>Freelance Design &amp; Development</h1>
          <p>Nick Lewis is a freelancer with many years of experience. Creating fantastic digital experiences for
            the web and mobile.</p>
        </header>            
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="who-we-are">
  <div class="container inner-bottom-sm">
    <div class="row inner-top-sm">
      <div class="col-md-1">
        <div class="icon pull-right">
          <img src="images/angular-js.png" alt="AngularJS">
        </div><!-- /.icon -->
      </div><!-- /.col -->             
      <div class="col-md-3 inner-bottom-xs">
        <h2 class="ng-binding">AngularJS</h2>
        <p class="text-small ng-binding">
          AngularJS is a toolset for building the framework most suited to your application development. It is highly versatile and we can build a common set of components for re-use in future projects.
        </p>
      </div>
      <div class="col-md-1">
        <div class="icon pull-right">
          <img src="images/firebase.png" alt="AngularJS">
        </div><!-- /.icon -->
      </div><!-- /.col -->             
      <div class="col-md-3 inner-bottom-xs">
        <h2 class="ng-binding">Firebase</h2>
        <p class="text-small ng-binding">
          Firebase is a real-time back-end for front-end developers like us. We can focus on the UI and the client side application more.
        </p>
      </div>
      <div class="col-md-1">
        <div class="icon pull-right">
          <img src="images/ionic.png" alt="AngularJS">
        </div><!-- /.icon -->
      </div><!-- /.col -->             
      <div class="col-md-3 inner-bottom-xs">
        <h2 class="ng-binding">Ionic</h2>
        <p class="text-small ng-binding">
          Ionic Framework is based on Cordova/Phonegap and the AngularJS framework. This means that it is possible to build hybrid apps for all mobile devices based on one code-base. Totally ingenious and all rather exciting!
        </p>
      </div>
    </div>
  </div><!-- /.container -->
</section>

<section id="whatsgoingon">
  <div class="container inner-bottom-sm">
    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>What I am up to</h1>
          <p>This website is powered by a combination of AngularJS, Firebase and iOS. I have been developing an app for the smartphone 
            that enables me to remotely update my site. I can use the app to post statuses, you may spot a new one appear in real-time if you 
            stick around long enough!</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row inner-top-sm text-center">
      <div class="col-sm-4 inner-bottom-xs" ng-repeat="status in statuses | orderByPriority | reverse | limitTo:3">
        <div class="icon">
          <i class="icon-lamp icn lg"></i>
        </div><!-- /.icon -->
        <h2>{{status.timestamp}}</h2>
        <p class="text-small">{{status.text}}</p>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row text-center">
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="availability">
  <div class="container inner-bottom-sm">
    
    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>My Availability</h1>
          <p>Every year seems to whizz by as I work on a plethora of projects, here there and everywhere. So to get an idea of 
            where I am at the moment, here you go. If you are planning ahead on a project, do feel free to get in contact.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row inner-top-sm text-center">
      <div class="col-sm-offset-4 col-sm-4 inner-bottom-xs">
        <div class="icon">
          <i class="icon-megaphone-1 icn lg"></i>
        </div><!-- /.icon -->
        <h2>{{model.availability.headline}}</h2>
        <p class="text-small">{{model.availability.text}}</p>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row text-center">
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>